.favourite-book {
  width: 100%;
  display: flex;
  gap: 1rem;
  align-items: center;
}

.favourite-book__cover {
  height: 6rem;
  width: 33%;
  overflow: hidden;
  border-radius: 0.3rem;
}

.favourite-book__cover-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  font-size: 0.75rem;
}

.favourite-book__details {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.favourite-book__ap-container {
  color: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
}

.favourite-book__author {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; /* Number of lines to show */
  overflow: hidden;
  /* Standard property for modern browsers (as of Oct 2025) */
  line-clamp: 2;
}

.favourite-book__toggle-btn {
  all: unset;
  cursor: pointer;
  > svg {
    transition-property: transform;
    transition-duration: 0.1s;
  }
}

.favourite-book__toggle-btn:active > svg {
  transform: scale(90%);
}
