.homepage__banner {
  margin: 0 auto 0 auto;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  margin-bottom: 24px;
  margin-top: 24px;
  width: 45%;
  text-align: justify;
  text-align: center;
  > h2 {
    font-weight: lighter;
    font-size: 1.3rem;
  }
  > p {
    font-family: sans-serif;
    font-size: 0.9rem;
    color: rgba(0, 0, 0, 0.8);
  }
}

.homepage__search {
  width: 33%;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .homepage__search {
    width: 90%;
    margin: 0 auto;
  }
}

.homepage__content-container {
  display: flex;
  gap: 2rem;
  width: 100%;
  padding: 4rem 4rem;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .homepage__content-container {
    display: block;
    padding: 1rem;
  }
}

.homepage__search-results {
  width: 75%;
  box-sizing: border-box;
  min-height: 100px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 16px;
  > .book-card {
    height: 22rem;
  }
}

@media (width < 768px) {
  .homepage__search-results {
    grid-template-columns: 1fr;
    width: 100%;
    > .book-card {
      height: 30rem;
    }
  }
}

@media (768px < width < 1366px) {
  .homepage__search-results {
    grid-template-columns: repeat(5, 1fr);
    width: 100%;
  }
}

@media (1366px < width < 1800px) {
  .homepage__search-results {
    grid-template-columns: repeat(4, 1fr);
  }
}

.homepage__fav-container {
  width: 25%;
}

@media (max-width: 1366px) {
  .homepage__fav-container {
    display: none;
    width: 0;
  }
}

.homepage__search-results_nothing-found {
  width: 75%;
}

.homepage__loader-container {
  width: 75%;
  column-span: all;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-family: sans-serif;
  color: gray;
  align-items: center;
}

@media (width < 1366px) {
  .homepage__loader-container {
    width: 100%;
    padding-top: 2rem;
  }
}

.homepage__banner {
  width: 75%;
}

.homepage__fav-popover-container {
  position: fixed;
  bottom: 1.5rem;
  right: 1.5rem;
  z-index: 999;
}

@media (width > 1366px) {
  .homepage__fav-popover-container {
    display: none;
  }
}

.homepage__fav-popover-content {
  width: 80dvw;
  height: 70dvh;
  background-color: white;
  border: 1px var(--gray) solid;
  border-radius: 0.4rem;
  box-shadow: 0.1rem 0.1rem 1rem 0 rgba(0, 0, 0, 0.4);
}

.homepage__fav-popover-trigger {
  display: flex;
  width: 3rem;
  height: 3rem;
  border-radius: 100%;
  background-color: white;
  border: 1px var(--gray) solid;
  justify-content: center;
  align-items: center;
  box-shadow: 0.1rem 0.1rem 1rem 0 rgba(0, 0, 0, 0.4);
  transition-property: box-shadow transform;
  transition-duration: 0.1s;
}
.homepage__fav-popover-trigger:active {
  box-shadow: 0.1rem 0.1rem 0.7rem 0 rgba(0, 0, 0, 0.4);
  transform: scale(95%);
}
