.popover__root {
  position: relative;
  z-index: 999;
  display: inline-block;
}

.popover__content {
  position: absolute;
  bottom: 100%;
  right: 0;
  margin-bottom: 1.5rem;
  z-index: 999;
}

@keyframes appear {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transorm: translateY(0);
  }
}

@keyframes disappear {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(30px);
  }
}

.popover__animation-appear {
  animation: appear 0.2s ease-out forwards;
}

.popover__animation-disappear {
  animation: disappear 0.2s ease-in forwards;
}
